{% extends "base.html" %}
{% load humanize %}
{% load accounts %}

{% block content %}
<h2>Remove sub-forum?</h2>

<table id="CategoryTable">
    <tr>
        <td>{{ forum.name }}</td>
        <td>threads: {{ forum.get_threads_count }}</td>
        <td>latest post:
            {% if last_post %}
                {{ last_post.text|truncatechars:10 }} by {{ last_post.user|account_name }} {{ last_post.date_created|naturaltime }}
            {% else %}
                ---
            {% endif %}
        </td>
    </tr>

</table>

<p>category: {{ forum.category }}</p>


<p>Do you really want to remove this?</p>

<p>
    <a href="{% url 'remove_sub_forum' forum.slug %}">Yes</a>
    <a href="{{ forum.get_url }}">No</a>
</p>
{% endblock %}
