{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

{% if form.errors %}
    <p>Wrong username/password.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
    <span>{% csrf_token %}</span>

    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>


<br/><br/><br/>

<p>
    <a href="{% url 'new_account' %}">New account.</a>
</p>


{% endblock %}