{% extends "base.html" %}
{% load humanize %}
{% load accounts %}

{% block content %}

<h2>
    Username: {{ pageUser|account_type }}


    <ul class="horizontalList">
        {% if user.is_moderator or user.is_staff %}
        <li>
            <a href="{% url 'accounts:disable_confirm' pageUser.username %}">
                {% if pageUser.is_active %}
                    disable
                {% else %}
                    enable
                {% endif %}
            </a>
        </li>
        {% endif %}

        {% if user.is_staff %}
        <li>
            <a href="{% url 'accounts:set_moderator' pageUser.username %}">
                {% if pageUser.is_moderator %}
                    un-mod
                {% else %}
                    mod
                {% endif %}
            </a>
        </li>
        <li>
            <a href="{% url 'accounts:remove_confirm' pageUser.username %}">remove</a>
        </li>
        {% endif %}
    </ul>
</h2>

<p>Joined: {{ pageUser.date_joined }} ({{ pageUser.date_joined|naturaltime }})</p>

{% if user.is_authenticated %}

    {% if user.username == pageUser.username %}
        <ul>
            <li><a href="{% url 'accounts:message_all' %}">See messages.</a></li>
            <li><a href="{% url 'accounts:change_password' %}">Change password.</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'accounts:message_send' pageUser.username %}">Send private message.</a></li>
        </ul>
    {% endif %}
{% endif %}

<h3>Last posts (total: {{ total_posts }})</h3>

{% if last_posts %}
    <table class="UserPageTable">
        {% for post in last_posts %}
            <tr>
                <td><a href="{{ post.get_url }}">{{ post.text|truncatechars:20 }}</a></td>
                <td><a href="{{ post.thread.get_url }}">{{ post.thread }}</a></td>
                <td>{{ post.date_edited|naturaltime }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No posts.</p>
{% endif %}

<h3>Last threads (total: {{ total_threads }})</h3>

{% if last_threads %}
    <table class="UserPageTable">
        {% for thread in last_threads %}
            <tr>
                <td><a href="{{ thread.get_url }}">{{ thread.title|truncatechars:20 }}</a></td>
                <td>posts: {{ thread.get_post_count }}</td>
                <td>{{ thread.date_edited|naturaltime }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No threads.</p>
{% endif %}


{% endblock %}
