{% extends "base.html" %}

{% block content %}

<h2>Username: {{ username }}</h2>

<p>Total posts: {{ total_posts }}</p>

{% if user.is_authenticated %}

    {% if user.username == username %}
        <ul>
            <li><a href="{% url 'check_message' %}">See messages.</a></li>
            <li><a>Change password.</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'send_message' username %}">Send private message.</a></li>
        </ul>
    {% endif %}
{% endif %}

<h2>Last posts</h2>

{% if last_posts %}
    <ul>
        {% for post in last_posts %}
            <li>{{ post.text|truncatechars:10 }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No posts.</p>
{% endif %}

{% endblock %}