{% extends "base.html" %}

{% block content %}

<h2>Username: {{ username }}</h2>

{% if user.is_authenticated %}

    {% if user.username == username %}
        <ul>
            <li><a>Change password.</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a>Send private message.</a></li>
        </ul>
    {% endif %}
{% endif %}

<h2>Last posts</h2>

{% if last_posts %}
    <ul>
        {% for post in last_posts %}
            <li>{{ post.text|truncatechars:10 }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No posts.</p>
{% endif %}

{% endblock %}