table
    {
    border-spacing: 2px;
    border-collapse: collapse;
    }

td
    {
    border-bottom: 2px solid #60c9ed;
    padding: 5px;
    min-width: 200px;
    }

th
    {
    background-color: #e6edeb;
    }

#Menu
    {
    list-style-type: none;
    }

#Menu > li
    {
    display: inline;
    }