{% load static %}
{% load accounts %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Forum</title>

    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/check_messages.js' %}"></script>

    {% block scripts %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

<div id="Menu">
    <ul class="horizontalList">
        <li>
        {% if user.is_authenticated %}
            Welcome, {{ user|account_name }} ( <a href="{% url 'accounts:logout' %}?next={{ request.get_full_path|urlencode }}">logout</a> )
        {% else %}
            <a href="{% url 'accounts:login' %}?next={{ request.get_full_path|urlencode }}">Login</a>
        {% endif %}
        </li>
    </ul>

    <ul class="horizontalList">
        <li><a href="{% url 'index' %}">home</a></li>
        {% for path in paths %}
            <li><a href="{{ path.get_url }}">{{ path|truncatechars:20 }}</a></li>
        {% endfor %}
    </ul>
</div>


{% if MESSAGE %}
    <p id="Message">{{ MESSAGE }}</p>
{% endif %}


{% block content %}{% endblock %}

</body>
</html>
