<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
</head>
<body>

<p id="Menu">
<span>
    <a href="{% url 'index' %}">home</a>
</span>
<span>
    {% if user.is_authenticated %}
        Welcome, <a href="{% url 'user_page' user.username %}">{{ user }}</a> ( <a href="{% url 'logout' %}">logout</a> )
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</span>
</p>


{% block content %}{% endblock %}

</body>
</html>