{% extends "base.html" %}
{% load humanize %}

{% block content %}

{% if user.is_moderator %}
    <ul>
        <li><a href="{% url 'new_category' %}">New category</a></li>
    </ul>
{% endif %}

{% if categories %}

    {% for category in categories %}

        <h2 class="CategoryName">{{ category.name }}</h2>
        {% if user.is_moderator %}
            <p>
                <a href="{% url 'new_sub_forum' category.slug %}">New sub-forum</a>
                <a href="{% url 'edit_category' category.slug %}">edit</a>
            </p>
        {% endif %}

        {% if category.subforum %}
            <table id="CategoryTable">
            {% for subforum in category.subforum %}
                <tr class="clickableRow" data-url="{{ subforum.url }}">
                    <td><a href="{{ subforum.url }}">{{ subforum.name }}</a></td>
                    <td>threads: {{ subforum.threads_count }}</td>
                    <td>latest post:
                        {% if subforum.last_post %}
                            <a href="{{ subforum.last_post.get_url }}">{{ subforum.last_post.text|truncatechars:10 }}</a> by <a href="{{ subforum.last_post.user.get_url }}">{{ subforum.last_post.user }}</a> {{ subforum.last_post.date_created|naturaltime }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No sub-forums.</p>
        {% endif %}

    {% endfor %}

{% else %}

    <p>No categories.</p>

{% endif %}
{% endblock %}