<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
</head>
<body>

{% if categories %}

    {% for category in categories %}

        <h2>{{ category.name }}</h2>
        {% if category.subforum_set.all %}
            <ul>
            {% for subforum in category.subforum_set.all %}

                <li><a href="{{ subforum.get_url }}">{{ subforum.name }}</a></li>

            {% endfor %}
            </ul>
        {% else %}
            <p>No sub-forums.</p>
        {% endif %}

    {% endfor %}

{% else %}

    <p>No categories.</p>

{% endif %}

</body>
</html>