{% extends "base.html" %}

{% block content %}
{% if categories %}

    {% for category in categories %}

        <h2>{{ category.name }}</h2>
        {% if category.subforum_set.all %}
            <table>
            {% for subforum in category.subforum_set.all %}
                <tr>
                    <td><a href="{{ subforum.get_url }}">{{ subforum.name }}</a></td>
                    <td>threads: {{ subforum.thread_set.all|length }}</td>
                    <td>latest post: {{ subforum.get_last_post|truncatechars:10 }} by {{ subforum.get_last_post.user }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No sub-forums.</p>
        {% endif %}

    {% endfor %}

{% else %}

    <p>No categories.</p>

{% endif %}
{% endblock %}