{% extends "base.html" %}

{% block content %}

<p>
    <a href="{% url 'new_thread' forumSlug %}">New Thread</a>
</p>

{% if threads %}
    <table id="SubForumTable">
    {% for thread in threads %}
        <tr class="clickableRow" data-url="{{ thread.get_url }}">
            <td><a href="{{ thread.get_url }}">{{ thread.title }}</a></td>
            <td>by <a href="{% url 'user_page' thread.user.username %}">{{ thread.user }}</a></td>
            <td>lastest post:
                {% if thread.get_last_post %}
                    <a href="{% url 'thread' thread.get_last_post.thread.slug %}">{{ thread.get_last_post.text|truncatechars:10 }}</a> by <a href="{% url 'user_page' thread.get_last_post.user.username %}">{{ thread.get_last_post.user }}</a>
                {% else %}
                    ---
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No threads.</p>
{% endif %}
{% endblock %}