{% extends "base.html" %}
{% load humanize %}

{% block content %}

<p>
    <a href="{% url 'new_thread' forumSlug %}">New Thread</a>
    {% if user.is_moderator %}
        <a href="{% url 'edit_sub_forum' forumSlug %}">edit</a>
        <a href="{% url 'remove_sub_forum_confirm' forumSlug %}">remove</a>
    {% endif %}
</p>

{% if threads %}
    <table id="SubForumTable">
    {% for thread in threads %}
        <tr class="clickableRow contentPreview" data-url="{{ thread.get_url }}" data-content="{{ thread.text|truncatechars:20 }}">
            <td><a href="{{ thread.get_url }}">{{ thread.title|truncatechars:20 }}</a></td>
            <td>by <a href="{% url 'user_page' thread.user.username %}">{{ thread.user }}</a></td>
            <td>posts: {{ thread.get_post_count }}</td>
            <td>lastest post:
                {% if thread.get_last_post %}
                    <a href="{% url 'thread' thread.get_last_post.thread.slug %}">{{ thread.get_last_post.text|truncatechars:10 }}</a> by <a href="{% url 'user_page' thread.get_last_post.user.username %}">{{ thread.get_last_post.user }}</a> {{ thread.get_last_post.date_created|naturaltime }}
                {% else %}
                    ---
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No threads.</p>
{% endif %}
{% endblock %}