{% extends "base.html" %}
{% load humanize %}
{% load accounts %}

{% block content %}

<p>
    <a href="{% url 'new_thread' forumSlug %}">New Thread</a>
    {% if user.is_staff %}
        <a href="{% url 'edit_sub_forum' forumSlug %}">edit</a>
        <a href="{% url 'remove_sub_forum_confirm' forumSlug %}">remove</a>
    {% endif %}
</p>

<p>
{% for pageNumber in pages %}
    <a href="{% url 'subForum' forumSlug pageNumber %}" class="PageLink">
        {% if pageNumber == page %}
            <em>{{ pageNumber }}</em>
        {% else %}
            {{ pageNumber }}
        {% endif %}
    </a>
{% endfor %}
</p>

{% if threads %}
    <table id="SubForumTable">
    {% for thread in threads %}
        <tr class="clickableRow contentPreview" data-url="{{ thread.get_url }}" data-content="{{ thread.text|truncatechars:20 }}">
            <td><a href="{{ thread.get_url }}">{{ thread.title|truncatechars:20 }}</a></td>
            <td>by {{ thread.user|account_name }}</td>
            <td>posts: {{ thread.get_post_count }}</td>
            <td>lastest post:
                {% if thread.get_last_post %}
                    <a href="{{ thread.get_last_post.get_url }}">{{ thread.get_last_post.text|truncatechars:10 }}</a> by {{ thread.get_last_post.user|account_name }} {{ thread.get_last_post.date_created|naturaltime }}
                {% else %}
                    ---
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

    <p>
    {% for pageNumber in pages %}
        <a href="{% url 'subForum' forumSlug pageNumber %}" class="PageLink">
            {% if pageNumber == page %}
                <em>{{ pageNumber }}</em>
            {% else %}
                {{ pageNumber }}
            {% endif %}
        </a>
    {% endfor %}
    </p>

{% else %}
    <p>No threads.</p>
{% endif %}
{% endblock %}
