<!DOCTYPE html>
<html>
<head>
    <title>Thread</title>
</head>
<body>

{% if thread %}

    <h1>
        {{ thread.title }}<br />
        Created by {{ thread.user }} in {{ thread.date_created }}
    </h1>

    <p>{{ thread.text }}</p>

    {% if thread.post_set.all %}
        <ul>
            {% for post in thread.post_set.all %}
                <li>
                    By {{ post.user }} on {{ post.date_created }}<br />
                    {{ post.text }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments.</p>
    {% endif %}
{% else %}
    <p>No thread.</p>
{% endif %}

</body>
</html>