{% extends "base.html" %}
{% load humanize %}

{% block content %}
{% if thread %}

<table id="ThreadTable">
    <tr id="post_0">
        <td class="ThreadLeft">
            <a href="{{ thread.user.get_url }}">{{ thread.user }}</a> {{ thread.date_created|naturaltime }}<br />
            {{ thread.user.get_post_count }} posts<br />
            {% if thread.user.is_moderator %}
                moderator
            {% endif %}
        </td>
        <td class="ThreadRight">
            {{ thread.text }}

        {% if user == thread.user %}
            <ul class="postMenu">
                <li><a>edit</a></li>
            </ul>
        {% endif %}
        </td>
    </tr>


{% if thread.post_set.all %}
    {% for post in thread.post_set.all %}
    <tr id="post_{{ forloop.counter }}">
        <td class="ThreadLeft">
            <a href="{{ post.user.get_url }}">{{ post.user }}</a> {{ post.date_created|naturaltime }}<br />
            {{ post.user.get_post_count }} posts<br />
            {% if post.user.is_moderator %}
                moderator
            {% endif %}
        </td>
        <td class="ThreadRight">
            {{ post.text }}

        {% if user == post.user %}
            <ul class="postMenu">
                <li><a href="{% url 'edit_post' post.id %}">edit</a></li>
            </ul>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
{% endif %}
</table>

    {% if user.is_authenticated %}
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}
        <form id="ThreadPostForm" method="post" action="{% url 'thread' threadSlug %}">
            {% csrf_token %}

            {{ form.text }}

            <input type="submit" value="post" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    {% else %}
        <p>Need to login to post.</p>
    {% endif %}
{% else %}
    <p>No thread.</p>
{% endif %}
{% endblock %}