{% extends "base.html" %}

{% block content %}
{% if thread %}

    <h1>
        {{ thread.title }}<br />
        Created by {{ thread.user }} in {{ thread.date_created }}
    </h1>

    <p>{{ thread.text }}</p>

    {% if thread.post_set.all %}
        <ul>
            {% for post in thread.post_set.all %}
                <li>
                    ( {{ forloop.counter }} ) By {{ post.user }} on {{ post.date_created }}<br />
                    {{ post.text }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments.</p>
    {% endif %}


    {% if user.is_authenticated %}
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}
        <form method="post" action="{% url 'thread' forumSlug threadSlug %}">
            <span>{% csrf_token %}</span>

            <div>
                {{ form.text }}
            </div>

            <input type="submit" value="post" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    {% else %}
        <p>Need to login to post.</p>
    {% endif %}
{% else %}
    <p>No thread.</p>
{% endif %}
{% endblock %}